body{
    background-color: rgb(236, 236, 236);
}
#message-image{
    position: absolute; right: 22%; bottom: 10%; 
    background-color: rgba(91, 178, 248, 0.8); 
    color: rgb(247, 244, 244); 
    padding: 0.5% 1%; border-radius: 25px;
    box-shadow: 4px 4px rgb(27, 27, 27,0.5);
    transition: 0.3s;
}
#message-image:hover{
    transition: 0.3s;
    background-color: rgba(91, 178, 248, 1);
    box-shadow: 1px 1px rgb(27, 27, 27,0.5);
}
