
.carousel-caption {
    bottom: 10%;
    background-color: rgba(41, 41, 40, 0.5);
}

.carousel-caption>.caption{
    display: flex;
    flex-direction: column;
    width: 15%;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: rgba(250, 243, 243, 0.2);
    box-shadow: 4px 4px rgb(31, 31, 31,0.3);
}

#container-cards{
    padding: 0 20%;
    justify-content: space-around;
}
